Server-runtime/jboss-as-7.1.1.Final/standalone/deployments
Server-runtime/jboss-as-7.1.1.Final/standalone/log
Server-runtime/jboss-as-7.1.1.Final/standalone/data
Server-runtime/jboss-as-7.1.1.Final/standalone/tmp
Server-runtime/jboss-as-7.1.1.Final/standalone/configuration/standalone_xml_history
ServerWS/build
Server-runtime/wildfly-8.0.0.Beta1/standalone/data/wsdl
Server-runtime/wildfly-8.0.0.Beta1/standalone/deployments
Server-runtime/wildfly-8.0.0.Beta1/standalone/log
Server-runtime/wildfly-8.0.0.Beta1/standalone/tmp
logging.properties
Server-runtime/wildfly-8.0.0.Beta1/standalone/configuration/standalone_xml_history
TestRealm/bin
Server/bin
Framework/bin
ClientCore/bin
Client/core/target
.metadata
