Server-runtime/jboss-as-7.1.1.Final/standalone/deployments
Server-runtime/jboss-as-7.1.1.Final/standalone/log
Server-runtime/jboss-as-7.1.1.Final/standalone/data
Server-runtime/jboss-as-7.1.1.Final/standalone/tmp
Server-runtime/jboss-as-7.1.1.Final/standalone/configuration/standalone_xml_history
